@import '~@blueprintjs/core/lib/scss/variables';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  display: flex;
  height: 100%;
  background-color: $dark-gray5;

  .stateIcon {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .stateText {
    margin-top: 2px;
    font-size: 0.8rem;
  }

  .notificationsContainer {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4px;

    .spinner {
      padding: 6px;
      display: flex;
      align-items: center;
    }

    .notification {
      @extend .spinner;

      &:hover {
        background-color: $dark-gray4;
      }

      &:active {
        background-color: $dark-gray3;
      }
    }
  }
}
