@import '~@blueprintjs/core/lib/scss/variables';
@import '../lib/scss/variables';

.dialog {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;

  width: 430px;

  .container {
    display: flex;
    margin-bottom: 6px;

    .label {
      font-size: $dialog-font-size;
      margin-right: 6px;
    }

    .version {
      font-size: $dialog-font-size;
      color: $gray4;
    }

    .desc {
      font-size: $dialog-font-size;
    }
  }
}
