@import '~@blueprintjs/core/lib/scss/variables';

.dialog {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;

  width: 450px;
  height: 500px;

  $button-padding: 25px;
  .buttonPadding {
    padding-left: $button-padding;
    padding-right: $button-padding;
  }
}
