@import '~@blueprintjs/core/lib/scss/variables';

.dialogMain {
  width: 450px;
  height: 500px;

  $button-padding: 25px;
  .buttonPadding {
    padding-left: $button-padding;
    padding-right: $button-padding;
  }
}
