.dialogPage {
  .radioItem {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .inputContainer {
    display: flex;
    padding-left: 28px;
    padding-bottom: 4px;

    .label {
      width: 65px;
    }
  }
}

.divider {
  margin-bottom: 10px;
}
