@import '../lib/scss/variables';

.dialog {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;

  width: $settings-dialog-width;

  .label {
    font-size: $dialog-font-size;
  }

  .divider {
    margin-bottom: 10px;
  }
}
