@import '~@blueprintjs/core/lib/scss/variables';

.appList {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  .listItem {
    border-bottom: solid 1px $light-gray1;
    background-color: $dark-gray2;

    .innerContainer {
      background-color: transparent;
      cursor: pointer;

      padding: {
        left: 8px;
        right: 8px;
        top: 2px;
        bottom: 4px;
      }

      &:hover {
        background-color: rgba(20, 28, 34, 0.8);
      }

      .processName {
        font-size: 1em;
        color: $gold5;
        cursor: inherit;
      }

      .processNameNoWrap {
        @extend .processName;
        white-space: nowrap;
      }

      .title {
        font-size: 0.8em;
        color: $light-gray3;
        padding-left: 8px;
        cursor: inherit;
      }

      .titleNoWrap {
        @extend .title;
        white-space: nowrap;
      }
    }
  }

  .listItemSelected {
    @extend .listItem;
    background-color: $green2;
  }
}
