@import '~@blueprintjs/core/lib/scss/variables';

.listItem {
  background-color: $dark-gray2;
  border-bottom: solid 1px $light-gray1;
  padding: {
    left: 8px;
    right: 8px;
    top: 2px;
    bottom: 4px;
  }

  &:hover {
    background-color: $green2;
  }

  &:active {
    background-color: $green1;
  }

  .processName {
    font-size: 0.9em;
    color: $gold5;
  }

  .processNameNoWrap {
    @extend .processName;
    white-space: nowrap;
  }

  .title {
    font-size: 0.7em;
    color: $light-gray3;
    padding-left: 8px;
  }

  .titleNoWrap {
    @extend .title;
    white-space: nowrap;
  }
}

.listItemSelected {
  @extend .listItem;
  background-color: $green2;
}
