.dialog {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;

  width: 430px;

  $button-padding: 30px;
  .buttonPadding {
    padding-left: $button-padding;
    padding-right: $button-padding;
  }
}
