@import '~@blueprintjs/core/lib/scss/variables';
@import '../../lib/scss/variables.scss';

.dialog {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;

  max-width: 400px;
  min-width: 300px;
  width: auto;

  .container {
    display: flex;

    .name {
      margin-bottom: 8px;
      font-size: $dialog-font-size;
    }

    .desc {
      margin-left: 8px;
      font-size: $dialog-font-size;
      color: $gray4;
    }
  }
}

.wposView {
  width: 50%;
  height: 60px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-grow: 1;

    .item {
      box-sizing: content-box;
      flex-grow: 1;
      background-color: $dark-gray1;
      border: solid 1px $dark-gray5;
    }

    .itemSelected {
      @extend .item;
      background-color: $light-gray1;
    }
  }
}
